Repository tgr-9/Laravel-fullstack-starter, changes with the labels that .github/labeler.yml gives for each.
All labels: integration, docs, deployment, api, authentication, authorization, experiences, localization, UI, db: schema, db: seeder, enhancement

chore(deps): upgrade dependencies
  composer.lock
  package.json
  pnpm-lock.yaml
Labels: enhancement

chore(deps): upgrade dependencies
  composer.lock
  package.json
  pnpm-lock.yaml
Labels: enhancement

ci: runs prepare workflow on php 8.2
  .github/workflows/prepare.yml
Labels: integration, enhancement

ci: runs prepare workflow on php 8.2
  .github/workflows/prepare.yml
Labels: integration, enhancement

chore(deps): prevent composer to install symfony v7.x components
  composer.json
  composer.lock
Labels: enhancement

chore(deps): prevent composer to install symfony v7.x components
  composer.json
  composer.lock
Labels: enhancement

chore: ignore `tool-verions` file
  .gitignore
Labels: enhancement

chore: ignore `tool-verions` file
  .gitignore
Labels: enhancement

ci: keep php 8.1 as minimum requirement
  .github/workflows/main.yml
  .github/workflows/prepare.yml
Labels: integration, enhancement

ci: keep php 8.1 as minimum requirement
  .github/workflows/main.yml
  .github/workflows/prepare.yml
Labels: integration, enhancement

ci: let dependabot to manage github actions version
  .github/dependabot.yml
Labels: enhancement

ci: let dependabot to manage github actions version
  .github/dependabot.yml
Labels: enhancement

ci: change workflow trigger to `pull_request` instead of `pull_request_target`
  .github/workflows/main.yml
Labels: integration, enhancement

ci: change workflow trigger to `pull_request` instead of `pull_request_target`
  .github/workflows/main.yml
Labels: integration, enhancement

ci: use static `APP_KEY` on ci
  .github/workflows/main.yml
Labels: integration, enhancement

ci: use static `APP_KEY` on ci
  .github/workflows/main.yml
Labels: integration, enhancement

chore(deps): bump actions/setup-node from 3 to 4
  .github/workflows/prepare.yml
Labels: integration, enhancement

chore(deps): bump actions/setup-node from 3 to 4
  .github/workflows/prepare.yml
Labels: integration, enhancement

chore(deps): bump actions/upload-artifact from 3 to 4
  .github/workflows/main.yml
  .github/workflows/prepare.yml
Labels: integration, enhancement

chore(deps): bump actions/upload-artifact from 3 to 4
  .github/workflows/main.yml
  .github/workflows/prepare.yml
Labels: integration, enhancement

chore(deps): bump actions/download-artifact from 3 to 4
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Labels: integration, deployment, enhancement

chore(deps): bump actions/download-artifact from 3 to 4
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Labels: integration, deployment, enhancement

chore(deps): bump actions/labeler from 4 to 5
  .github/workflows/triage.yml
Labels: integration, enhancement

chore(deps): bump actions/labeler from 4 to 5
  .github/workflows/triage.yml
Labels: integration, enhancement

.github/labeler.yml:

integration:
- '.github/workflows/*.yml'
- 'app/Providers/**.php'
- 'tests/Browser/**.php'

docs:
- '.env.example'
- '**.md'

deployment:
- '.github/workflows/deploy.yml'
- 'scripts/deploy.php'
- 'scripts/deploy/**'

api:
- 'app/Http/Controllers/Api/**.php'
- 'app/Http/Resources/**.php'
- 'routes/api.php'

authentication:
- 'app/Http/Controller/Auth/**.php'
- 'config/auth.php'
- 'routes/auth.php'

authorization:
- 'app/Http/Middleware/**.php'
- 'app/Policies/**.php'

experiences:
- 'app/Http/Controllers/**.php'
- 'app/Http/Requests/**.php'
- 'app/Views/**.php'
- 'routes/web.php'

localization:
- 'resources/lang/**'

UI:
- 'app/Views/**.php'
- 'resources/client/**'
- 'resources/views/**'

'db: schema':
- 'app/Models/**.php'
- 'database/factories/**.php'
- 'database/migrations/**.php'

'db: seeder':
- 'database/seeders/**.php'

enhancement:
- '**'
