Repository tgr-9/Laravel-fullstack-starter, changes with the labels that .github/labeler.yml gives for each.
All labels: integration, docs, deployment, api, authentication, authorization, experiences, localization, UI, db: schema, db: seeder, enhancement

.github/labeler.yml:

integration:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/*.yml'
    - 'app/Providers/**.php'
    - 'tests/Browser/**.php'

docs:
- changed-files:
  - any-glob-to-any-file:
    - '.env.example'
    - '**.md'

deployment:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/deploy.yml'
    - 'scripts/deploy.php'
    - 'scripts/deploy/**'

api:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Http/Controllers/Api/**.php'
    - 'app/Http/Resources/**.php'
    - 'routes/api.php'

authentication:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Http/Controller/Auth/**.php'
    - 'config/auth.php'
    - 'routes/auth.php'

authorization:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Http/Middleware/**.php'
    - 'app/Policies/**.php'

experiences:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Http/Controllers/**.php'
    - 'app/Http/Requests/**.php'
    - 'app/Views/**.php'
    - 'routes/web.php'

localization:
- changed-files:
  - any-glob-to-any-file: 'resources/lang/**'

UI:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Views/**.php'
    - 'resources/client/**'
    - 'resources/views/**'

'db: schema':
- changed-files:
  - any-glob-to-any-file:
    - 'app/Models/**.php'
    - 'database/factories/**.php'
    - 'database/migrations/**.php'

'db: seeder':
- changed-files:
  - any-glob-to-any-file: 'database/seeders/**.php'

enhancement:
- changed-files:
  - any-glob-to-any-file: '**'

chore(deps): bump actions/checkout from 1 to 4
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .github/workflows/prepare.yml
  .github/workflows/release.yml
  .github/workflows/triage.yml
Labels: integration, deployment, enhancement

chore(deps): bump actions/checkout from 1 to 4
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .github/workflows/prepare.yml
  .github/workflows/release.yml
  .github/workflows/triage.yml
Labels: integration, deployment, enhancement

ci: update `actions/upload-artifact` config on each test matrix
  .github/workflows/main.yml
Labels: integration, enhancement

ci: update `actions/upload-artifact` config on each test matrix
  .github/workflows/main.yml
Labels: integration, enhancement

ci: update `actions/download-artifact` due to breaking changes on v4
  .github/workflows/main.yml
Labels: integration, enhancement

ci: update `actions/download-artifact` due to breaking changes on v4
  .github/workflows/main.yml
Labels: integration, enhancement

chore(deps): upgrade npm dependencies
  package.json
  pnpm-lock.yaml
  resources/client/modules/pwa.ts
  vite.config.ts
Labels: UI, enhancement

chore(deps): upgrade npm dependencies
  package.json
  pnpm-lock.yaml
  resources/client/modules/pwa.ts
  vite.config.ts
Labels: UI, enhancement

chore: workaround with vite config due to pwa issue
  resources/client/modules/pwa.ts
  vite.config.ts
Labels: UI, enhancement

chore: workaround with vite config due to pwa issue
  resources/client/modules/pwa.ts
  vite.config.ts
Labels: UI, enhancement

chore: still workaround with vite config due to pwa issue
  vite.config.ts
Labels: enhancement

chore: still workaround with vite config due to pwa issue
  vite.config.ts
Labels: enhancement

chore: fix vite config compatibility issue with our `httpsCert` helper
  vite.config.ts
Labels: enhancement

chore: fix vite config compatibility issue with our `httpsCert` helper
  vite.config.ts
Labels: enhancement

feat!: refactor general and navigation utility
  resources/client/layouts/app-layout.vue
  resources/client/utils/general.ts
  resources/client/utils/navigations.ts
Labels: UI, enhancement

feat!: refactor general and navigation utility
  resources/client/layouts/app-layout.vue
  resources/client/utils/general.ts
  resources/client/utils/navigations.ts
Labels: UI, enhancement

test: move service-worker scopes to `/` instead of `/build/`
  scripts/deploy/nginx.conf
  vite.config.ts
Labels: deployment, enhancement

test: move service-worker scopes to `/` instead of `/build/`
  scripts/deploy/nginx.conf
  vite.config.ts
Labels: deployment, enhancement

feat: add translation for app background updates
  resources/client/modules/pwa.ts
  resources/lang/en/dashboard.php
  resources/lang/id/dashboard.php
Labels: localization, UI, enhancement

feat: add translation for app background updates
  resources/client/modules/pwa.ts
  resources/lang/en/dashboard.php
  resources/lang/id/dashboard.php
Labels: localization, UI, enhancement

fix: fix user login issue when using database session driver
  app/Models/User.php
Labels: db: schema, enhancement

fix: fix user login issue when using database session driver
  app/Models/User.php
Labels: db: schema, enhancement

chore: update notification back-end in regard of creasico/laravel-base#76
  app/Http/Controllers/SampleController.php
  app/Models/User.php
  app/Notifications/Messages/FcmMessage.php
  app/Notifications/Messages/Priority.php
  app/Notifications/SampleNotification.php
  composer.lock
Labels: experiences, db: schema, enhancement

chore: update notification back-end in regard of creasico/laravel-base#76
  app/Http/Controllers/SampleController.php
  app/Models/User.php
  app/Notifications/Messages/FcmMessage.php
  app/Notifications/Messages/Priority.php
  app/Notifications/SampleNotification.php
  composer.lock
Labels: experiences, db: schema, enhancement

chore: send device token alongside with user login form
  resources/client/pages/auth/login.vue
  resources/client/pages/sample/index.vue
Labels: UI, enhancement

chore: send device token alongside with user login form
  resources/client/pages/auth/login.vue
  resources/client/pages/sample/index.vue
Labels: UI, enhancement

chore: messing around with `vite.config`
  resources/client/env.d.ts
  vite.config.ts
Labels: UI, enhancement

chore: messing around with `vite.config`
  resources/client/env.d.ts
  vite.config.ts
Labels: UI, enhancement

chore: clean up service-worker and background messages registration
  resources/client/modules/firebase.ts
  resources/client/modules/pwa.ts
  resources/client/sw.ts
Labels: UI, enhancement

chore: clean up service-worker and background messages registration
  resources/client/modules/firebase.ts
  resources/client/modules/pwa.ts
  resources/client/sw.ts
Labels: UI, enhancement

chore(deps): bump the dependencies group with 2 updates
  composer.lock
Labels: enhancement

chore(deps): bump the dependencies group with 2 updates
  composer.lock
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 1 update
  composer.lock
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 1 update
  composer.lock
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 8 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 8 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps): bump the dependencies group with 2 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps): bump the dependencies group with 2 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps): update `creasi/laravel-base`
  composer.lock
Labels: enhancement

chore(deps): update `creasi/laravel-base`
  composer.lock
Labels: enhancement
