Repository tgr-9/Laravel-fullstack-starter, changes with the labels that .github/labeler.yml gives for each.
All labels: integration, docs, deployment, api, authentication, authorization, experiences, localization, UI, db: schema, db: seeder, enhancement

.github/labeler.yml:

integration:
- '.github/workflows/*.yml'
- 'app/Providers/**.php'
- 'tests/Browser/**.php'

docs:
- '.env.example'
- '**.md'

deployment:
- '.github/workflows/deploy.yml'
- 'scripts/deploy.php'
- 'scripts/deploy/**'

api:
- 'app/Http/Controllers/Api/**.php'
- 'app/Http/Resources/**.php'
- 'routes/api.php'

authentication:
- 'app/Http/Controller/Auth/**.php'
- 'config/auth.php'
- 'routes/auth.php'

authorization:
- 'app/Http/Middleware/**.php'
- 'app/Policies/**.php'

experiences:
- 'app/Http/Controllers/**.php'
- 'app/Http/Requests/**.php'
- 'app/Views/**.php'
- 'routes/web.php'

localization:
- 'resources/lang/**'

UI:
- 'app/Views/**.php'
- 'resources/client/**'
- 'resources/views/**'

'db: schema':
- 'app/Models/**.php'
- 'database/factories/**.php'
- 'database/migrations/**.php'

'db: seeder':
- 'database/seeders/**.php'

enhancement:
- '**'

chore(ci): rename `prepare` step on `main` workflow
  .github/workflows/main.yml
Labels: integration, enhancement

chore(ci): rename `prepare` step on `main` workflow
  .github/workflows/main.yml
Labels: integration, enhancement

chore(release): 0.1.0
  CHANGELOG.md
  package.json
Labels: docs, enhancement

chore(release): 0.1.0
  CHANGELOG.md
  package.json
Labels: docs, enhancement

chore(ci): change PR-base note title to `Contributions`
  .github/release.yml
Labels: enhancement

chore(ci): change PR-base note title to `Contributions`
  .github/release.yml
Labels: enhancement

feat(ci): switch `release` and `deploy` workflow trigger
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Labels: integration, deployment, enhancement

feat(ci): switch `release` and `deploy` workflow trigger
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Labels: integration, deployment, enhancement

chore(ci): add `discussion_category_name` field
  .github/workflows/release.yml
Labels: integration, enhancement

chore(ci): add `discussion_category_name` field
  .github/workflows/release.yml
Labels: integration, enhancement

chore(release): 0.1.1
  CHANGELOG.md
  package.json
Labels: docs, enhancement

chore(release): 0.1.1
  CHANGELOG.md
  package.json
Labels: docs, enhancement

chore(ci): change release trigger to tag instead of release
  .github/workflows/release.yml
Labels: integration, enhancement

chore(ci): change release trigger to tag instead of release
  .github/workflows/release.yml
Labels: integration, enhancement

chore(release): 0.1.2
  CHANGELOG.md
  package.json
Labels: docs, enhancement

chore(release): 0.1.2
  CHANGELOG.md
  package.json
Labels: docs, enhancement

fix(ci): fix misconfigured release workflow
  .github/workflows/release.yml
Labels: integration, enhancement

fix(ci): fix misconfigured release workflow
  .github/workflows/release.yml
Labels: integration, enhancement

feat: initialize `simple-git-hooks` as described #31
  package.json
  pnpm-lock.yaml
  scripts/.gitattributes
  scripts/husky/commit-msg
  scripts/husky/pre-commit
Labels: enhancement

feat: initialize `simple-git-hooks` as described #31
  package.json
  pnpm-lock.yaml
  scripts/.gitattributes
  scripts/husky/commit-msg
  scripts/husky/pre-commit
Labels: enhancement

chore(release): 0.1.3
  CHANGELOG.md
  package.json
Labels: docs, enhancement

chore(release): 0.1.3
  CHANGELOG.md
  package.json
Labels: docs, enhancement

chore: bring reference definition back to `tsconfig.json`
  resources/client/env.d.ts
  tsconfig.json
Labels: UI, enhancement

chore: bring reference definition back to `tsconfig.json`
  resources/client/env.d.ts
  tsconfig.json
Labels: UI, enhancement

chore(deps): upgrade dependencies and add missing `postinstall` script
  package.json
  pnpm-lock.yaml
Labels: enhancement

chore(deps): upgrade dependencies and add missing `postinstall` script
  package.json
  pnpm-lock.yaml
Labels: enhancement

fix: use `@vue/runtime-core` to define global custom component property
  resources/client/modules/axios.ts
  resources/client/modules/inertia.ts
  resources/client/modules/naive-ui.ts
Labels: UI, enhancement

fix: use `@vue/runtime-core` to define global custom component property
  resources/client/modules/axios.ts
  resources/client/modules/inertia.ts
  resources/client/modules/naive-ui.ts
Labels: UI, enhancement

chore(deps): upgrade dependencies
  composer.lock
Labels: enhancement

chore(deps): upgrade dependencies
  composer.lock
Labels: enhancement

feat(dev): disable sentry telemetry for `local` and `testing` environment
  vite.config.ts
Labels: enhancement

feat(dev): disable sentry telemetry for `local` and `testing` environment
  vite.config.ts
Labels: enhancement

chore(deps): upgrade dependencies due to issue on `creasi/dusk-browserstack`
  composer.json
  composer.lock
Labels: enhancement

chore(deps): upgrade dependencies due to issue on `creasi/dusk-browserstack`
  composer.json
  composer.lock
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 2 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 2 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 1 update
  composer.lock
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 1 update
  composer.lock
Labels: enhancement

chore(deps): bump the dependencies group with 1 update
  composer.lock
Labels: enhancement

chore(deps): bump the dependencies group with 1 update
  composer.lock
Labels: enhancement
