Repository tgr-9/Laravel-fullstack-starter, changes with the labels that .github/labeler.yml gives for each.
All labels: integration, docs, deployment, api, authentication, authorization, experiences, localization, UI, db: schema, db: seeder, enhancement

.github/labeler.yml:

integration:
- '.github/workflows/*.yml'
- 'app/Providers/**.php'
- 'tests/Browser/**.php'

docs:
- '.env.example'
- '**.md'

deployment:
- '.github/workflows/deploy.yml'
- 'scripts/deploy.php'
- 'scripts/deploy/**'

api:
- 'app/Http/Controllers/Api/**.php'
- 'app/Http/Resources/**.php'
- 'routes/api.php'

authentication:
- 'app/Http/Controller/Auth/**.php'
- 'config/auth.php'
- 'routes/auth.php'

authorization:
- 'app/Http/Middleware/**.php'
- 'app/Policies/**.php'

experiences:
- 'app/Http/Controllers/**.php'
- 'app/Http/Requests/**.php'
- 'app/Views/**.php'
- 'routes/web.php'

localization:
- 'resources/lang/**'

UI:
- 'app/Views/**.php'
- 'resources/client/**'
- 'resources/views/**'

'db: schema':
- 'app/Models/**.php'
- 'database/factories/**.php'
- 'database/migrations/**.php'

'db: seeder':
- 'database/seeders/**.php'

enhancement:
- '**'

chore: update service worker registration workflow and vite config
  resources/client/modules/pwa.ts
  resources/client/sw.ts
  vite.config.ts
Labels: UI, enhancement

chore: update service worker registration workflow and vite config
  resources/client/modules/pwa.ts
  resources/client/sw.ts
  vite.config.ts
Labels: UI, enhancement

chore: add basic notification click event handler
  resources/client/sw.ts
Labels: UI, enhancement

chore: add basic notification click event handler
  resources/client/sw.ts
Labels: UI, enhancement

test: try to post notification message to frontend
  resources/client/sw.ts
Labels: UI, enhancement

test: try to post notification message to frontend
  resources/client/sw.ts
Labels: UI, enhancement

test: try to request notification permission on initial page load
  resources/client/modules/pwa.ts
Labels: UI, enhancement

test: try to request notification permission on initial page load
  resources/client/modules/pwa.ts
Labels: UI, enhancement

fix: fix infinite reload on firefox when no permission granted
  resources/client/modules/pwa.ts
Labels: UI, enhancement

fix: fix infinite reload on firefox when no permission granted
  resources/client/modules/pwa.ts
Labels: UI, enhancement

chore: some clean up
  resources/client/modules/pwa.ts
  resources/client/sw.ts
  vite.config.ts
Labels: UI, enhancement

chore: some clean up
  resources/client/modules/pwa.ts
  resources/client/sw.ts
  vite.config.ts
Labels: UI, enhancement

refactor: rewrite sample page
  app/Http/Controllers/SampleController.php
  app/View/Composers/NavigationsComposer.php
  resources/client/pages/sample/index.vue
  resources/client/pages/test.vue
  resources/lang/en/sample.php
  resources/lang/id/sample.php
  routes/web.php
Labels: experiences, localization, UI, enhancement

refactor: rewrite sample page
  app/Http/Controllers/SampleController.php
  app/View/Composers/NavigationsComposer.php
  resources/client/pages/sample/index.vue
  resources/client/pages/test.vue
  resources/lang/en/sample.php
  resources/lang/id/sample.php
  routes/web.php
Labels: experiences, localization, UI, enhancement

feat: implement sample test notification sender from backend
  .env.example
  app/Http/Controllers/SampleController.php
  resources/client/pages/sample/index.vue
  routes/web.php
Labels: docs, experiences, UI, enhancement

feat: implement sample test notification sender from backend
  .env.example
  app/Http/Controllers/SampleController.php
  resources/client/pages/sample/index.vue
  routes/web.php
Labels: docs, experiences, UI, enhancement

feat: apply laravel' notification best-practice and recommendation
  app/Http/Controllers/SampleController.php
  app/Notifications/Channels/FcmChannel.php
  app/Notifications/Messages/FcmMessage.php
  app/Notifications/SampleNotification.php
Labels: experiences, enhancement

feat: apply laravel' notification best-practice and recommendation
  app/Http/Controllers/SampleController.php
  app/Notifications/Channels/FcmChannel.php
  app/Notifications/Messages/FcmMessage.php
  app/Notifications/SampleNotification.php
Labels: experiences, enhancement

chore: clean up
  app/Notifications/Channels/FcmChannel.php
  resources/client/modules/firebase.ts
  resources/client/modules/pwa.ts
  resources/client/sw.ts
Labels: UI, enhancement

chore: clean up
  app/Notifications/Channels/FcmChannel.php
  resources/client/modules/firebase.ts
  resources/client/modules/pwa.ts
  resources/client/sw.ts
Labels: UI, enhancement

chore: add validation to firebase endpoint example
  app/Http/Controllers/SampleController.php
Labels: experiences, enhancement

chore: add validation to firebase endpoint example
  app/Http/Controllers/SampleController.php
Labels: experiences, enhancement

chore: handle notification response
  resources/client/modules/pwa.ts
  resources/client/pages/sample/index.vue
Labels: UI, enhancement

chore: handle notification response
  resources/client/modules/pwa.ts
  resources/client/pages/sample/index.vue
Labels: UI, enhancement

chore: some clean up
  app/Notifications/Channels/FcmChannel.php
  app/Notifications/Messages/FcmMessage.php
Labels: enhancement

chore: some clean up
  app/Notifications/Channels/FcmChannel.php
  app/Notifications/Messages/FcmMessage.php
Labels: enhancement

chore: add passive touch event handler
  resources/client/layouts/app-layout.vue
Labels: UI, enhancement

chore: add passive touch event handler
  resources/client/layouts/app-layout.vue
Labels: UI, enhancement

test: prompt user to reload the page when updates available
  resources/client/modules/pwa.ts
  vite.config.ts
Labels: UI, enhancement

test: prompt user to reload the page when updates available
  resources/client/modules/pwa.ts
  vite.config.ts
Labels: UI, enhancement

chore: switch service worker strategy to network-first
  resources/client/sw.ts
Labels: UI, enhancement

chore: switch service worker strategy to network-first
  resources/client/sw.ts
Labels: UI, enhancement

chore(deps): bump the dependencies group with 2 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps): bump the dependencies group with 2 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps): bump the dependencies group with 2 updates
  composer.lock
Labels: enhancement

chore(deps): bump the dependencies group with 2 updates
  composer.lock
Labels: enhancement

chore(deps-dev): bump vite from 4.5.0 to 4.5.1
  pnpm-lock.yaml
Labels: enhancement

chore(deps-dev): bump vite from 4.5.0 to 4.5.1
  pnpm-lock.yaml
Labels: enhancement

chore: update vscode config
  .vscode/settings.json
Labels: enhancement

chore: update vscode config
  .vscode/settings.json
Labels: enhancement
