Repository tgr-9/Laravel-fullstack-starter, changes with the labels that .github/labeler.yml gives for each.
All labels: integration, docs, deployment, api, authentication, authorization, experiences, localization, UI, db: schema, db: seeder, enhancement

ci: try using absolute path to deploy artifacts
  scripts/deploy.php
Labels: deployment, enhancement

ci: try using absolute path to deploy artifacts
  scripts/deploy.php
Labels: deployment, enhancement

ci(deploy): i messed up
  scripts/deploy.php
Labels: deployment, enhancement

ci(deploy): i messed up
  scripts/deploy.php
Labels: deployment, enhancement

ci: combine preparation workflow into one config file
  .github/workflows/prepare.yml
  .github/workflows/triage.yml
Labels: integration, enhancement

ci: combine preparation workflow into one config file
  .github/workflows/prepare.yml
  .github/workflows/triage.yml
Labels: integration, enhancement

ci: skip deployment dispatch on testing env
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: skip deployment dispatch on testing env
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: f
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: f
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

feat(deploy): add ability to create new deployment preview for PR
  .github/workflows/deploy.yml
  .github/workflows/prepare.yml
  app/Providers/AppServiceProvider.php
  composer.json
  scripts/deploy.php
Labels: integration, deployment, enhancement

feat(deploy): add ability to create new deployment preview for PR
  .github/workflows/deploy.yml
  .github/workflows/prepare.yml
  app/Providers/AppServiceProvider.php
  composer.json
  scripts/deploy.php
Labels: integration, deployment, enhancement

ci: update workflow configs
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .github/workflows/prepare.yml
Labels: integration, deployment, enhancement

ci: update workflow configs
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .github/workflows/prepare.yml
Labels: integration, deployment, enhancement

ci: apparently `workflow_run` event require `branches` option
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: apparently `workflow_run` event require `branches` option
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: let's try update its branch pattern
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: let's try update its branch pattern
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: let's try wrap it with single-quote
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: let's try wrap it with single-quote
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

chore(deps): bump the dependencies group with 2 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps): bump the dependencies group with 2 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps): bump the dependencies group with 1 update
  composer.lock
Labels: enhancement

chore(deps): bump the dependencies group with 1 update
  composer.lock
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 4 updates
  composer.lock
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 4 updates
  composer.lock
Labels: enhancement

fix: fix deploy with reset argument issue
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

fix: fix deploy with reset argument issue
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

chore(deps-dev): bump the dev-dependencies group with 13 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 13 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps): bump follow-redirects from 1.15.5 to 1.15.6
  pnpm-lock.yaml
Labels: enhancement

chore(deps): bump follow-redirects from 1.15.5 to 1.15.6
  pnpm-lock.yaml
Labels: enhancement

chore(ci): bump php version used in prepare workflow
  .github/workflows/prepare.yml
Labels: integration, enhancement

chore(ci): bump php version used in prepare workflow
  .github/workflows/prepare.yml
Labels: integration, enhancement

chore(ci): try adding permission to install private packages
  .github/workflows/prepare.yml
Labels: integration, enhancement

chore(ci): try adding permission to install private packages
  .github/workflows/prepare.yml
Labels: integration, enhancement

chore(ci): revert back to `PAT` instead of `GITHUB_TOKEN`
  .github/workflows/prepare.yml
Labels: integration, enhancement

chore(ci): revert back to `PAT` instead of `GITHUB_TOKEN`
  .github/workflows/prepare.yml
Labels: integration, enhancement

chore(ci): spesify environment name to retrieve deployment info
  .github/workflows/prepare.yml
Labels: integration, enhancement

chore(ci): spesify environment name to retrieve deployment info
  .github/workflows/prepare.yml
Labels: integration, enhancement

.github/labeler.yml:

integration:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/*.yml'
    - 'app/Providers/**.php'
    - 'tests/Browser/**.php'

docs:
- changed-files:
  - any-glob-to-any-file:
    - '.env.example'
    - '**.md'

deployment:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/deploy.yml'
    - 'scripts/deploy.php'
    - 'scripts/deploy/**'

api:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Http/Controllers/Api/**.php'
    - 'app/Http/Resources/**.php'
    - 'routes/api.php'

authentication:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Http/Controller/Auth/**.php'
    - 'config/auth.php'
    - 'routes/auth.php'

authorization:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Http/Middleware/**.php'
    - 'app/Policies/**.php'

experiences:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Http/Controllers/**.php'
    - 'app/Http/Requests/**.php'
    - 'app/Views/**.php'
    - 'routes/web.php'

localization:
- changed-files:
  - any-glob-to-any-file: 'resources/lang/**'

UI:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Views/**.php'
    - 'resources/client/**'
    - 'resources/views/**'

'db: schema':
- changed-files:
  - any-glob-to-any-file:
    - 'app/Models/**.php'
    - 'database/factories/**.php'
    - 'database/migrations/**.php'

'db: seeder':
- changed-files:
  - any-glob-to-any-file: 'database/seeders/**.php'

enhancement:
- changed-files:
  - any-glob-to-any-file: '**'
