Repository tgr-9/Laravel-fullstack-starter, changes with the labels that .github/labeler.yml gives for each.
All labels: integration, docs, deployment, api, authentication, authorization, experiences, localization, UI, db: schema, db: seeder, enhancement

.github/labeler.yml:

integration:
- '.github/workflows/*.yml'
- 'app/Providers/**.php'
- 'tests/Browser/**.php'

docs:
- '.env.example'
- '**.md'

deployment:
- '.github/workflows/deploy.yml'
- 'scripts/deploy.php'
- 'scripts/deploy/**'

api:
- 'app/Http/Controllers/Api/**.php'
- 'app/Http/Resources/**.php'
- 'routes/api.php'

authentication:
- 'app/Http/Controller/Auth/**.php'
- 'config/auth.php'
- 'routes/auth.php'

authorization:
- 'app/Http/Middleware/**.php'
- 'app/Policies/**.php'

experiences:
- 'app/Http/Controllers/**.php'
- 'app/Http/Requests/**.php'
- 'app/Views/**.php'
- 'routes/web.php'

localization:
- 'resources/lang/**'

UI:
- 'app/Views/**.php'
- 'resources/client/**'
- 'resources/views/**'

'db: schema':
- 'app/Models/**.php'
- 'database/factories/**.php'
- 'database/migrations/**.php'

'db: seeder':
- 'database/seeders/**.php'

enhancement:
- '**'

feat(dev): initialize type definition for api responses
  resources/client/types/api.ts
Labels: UI, enhancement

feat(dev): initialize type definition for api responses
  resources/client/types/api.ts
Labels: UI, enhancement

feat: throw pinia to the mix
  package.json
  pnpm-lock.yaml
  resources/client/app.ts
Labels: UI, enhancement

feat: throw pinia to the mix
  package.json
  pnpm-lock.yaml
  resources/client/app.ts
Labels: UI, enhancement

feat(ui): initialize generic components
  resources/client/components/form/datepicker.vue
  resources/client/components/form/input.vue
  resources/client/components/form/radio-group.vue
  resources/client/components/form/select.vue
  resources/client/components/form/upload.vue
  resources/client/components/page/section.vue
  resources/client/types/api.ts
Labels: UI, enhancement

feat(ui): initialize generic components
  resources/client/components/form/datepicker.vue
  resources/client/components/form/input.vue
  resources/client/components/form/radio-group.vue
  resources/client/components/form/select.vue
  resources/client/components/form/upload.vue
  resources/client/components/page/section.vue
  resources/client/types/api.ts
Labels: UI, enhancement

feat(ui): initialize nusa' components and utilities
  resources/client/components/nusa/address.vue
  resources/client/components/nusa/district.vue
  resources/client/components/nusa/province.vue
  resources/client/components/nusa/regency.vue
  resources/client/components/nusa/village.vue
  resources/client/store/nusa.ts
  resources/client/utils/nusa.ts
  resources/client/utils/nusa/district.ts
  resources/client/utils/nusa/province.ts
  resources/client/utils/nusa/regency.ts
  resources/client/utils/nusa/village.ts
Labels: UI, enhancement

feat(ui): initialize nusa' components and utilities
  resources/client/components/nusa/address.vue
  resources/client/components/nusa/district.vue
  resources/client/components/nusa/province.vue
  resources/client/components/nusa/regency.vue
  resources/client/components/nusa/village.vue
  resources/client/store/nusa.ts
  resources/client/utils/nusa.ts
  resources/client/utils/nusa/district.ts
  resources/client/utils/nusa/province.ts
  resources/client/utils/nusa/regency.ts
  resources/client/utils/nusa/village.ts
Labels: UI, enhancement

chore(ui): patch breadcrumb navivation
  resources/client/app.ts
  resources/client/components/page/footer.vue
  resources/client/components/page/header.vue
  resources/client/layouts/app-layout.vue
  resources/client/shim.d.ts
  resources/client/utils/navigations.ts
Labels: UI, enhancement

chore(ui): patch breadcrumb navivation
  resources/client/app.ts
  resources/client/components/page/footer.vue
  resources/client/components/page/header.vue
  resources/client/layouts/app-layout.vue
  resources/client/shim.d.ts
  resources/client/utils/navigations.ts
Labels: UI, enhancement

chore(deps): bump the dependencies group with 2 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps): bump the dependencies group with 2 updates
  pnpm-lock.yaml
Labels: enhancement

chore: change `GenericData` to type instead of interface
  resources/client/types/api.ts
Labels: UI, enhancement

chore: change `GenericData` to type instead of interface
  resources/client/types/api.ts
Labels: UI, enhancement

chore: fix some responsive issue on page components
  resources/client/components/page/header.vue
  resources/client/components/page/section.vue
Labels: UI, enhancement

chore: fix some responsive issue on page components
  resources/client/components/page/header.vue
  resources/client/components/page/section.vue
Labels: UI, enhancement

chore(ui): normalize form and nusa components prop definitions
  resources/client/components/form/datepicker.vue
  resources/client/components/form/input.vue
  resources/client/components/form/radio-group.vue
  resources/client/components/form/select.vue
  resources/client/components/form/upload.vue
  resources/client/components/nusa/address.vue
  resources/client/components/nusa/district.vue
  resources/client/components/nusa/province.vue
  resources/client/components/nusa/regency.vue
  resources/client/components/nusa/village.vue
Labels: UI, enhancement

chore(ui): normalize form and nusa components prop definitions
  resources/client/components/form/datepicker.vue
  resources/client/components/form/input.vue
  resources/client/components/form/radio-group.vue
  resources/client/components/form/select.vue
  resources/client/components/form/upload.vue
  resources/client/components/nusa/address.vue
  resources/client/components/nusa/district.vue
  resources/client/components/nusa/province.vue
  resources/client/components/nusa/regency.vue
  resources/client/components/nusa/village.vue
Labels: UI, enhancement

feat(i18n): add translation for nusa components
  resources/lang/en/nusa.php
  resources/lang/en/validation.php
  resources/lang/id/nusa.php
  resources/lang/id/validation.php
Labels: localization, enhancement

feat(i18n): add translation for nusa components
  resources/lang/en/nusa.php
  resources/lang/en/validation.php
  resources/lang/id/nusa.php
  resources/lang/id/validation.php
Labels: localization, enhancement

chore: update collection response type structure
  resources/client/types/api.ts
Labels: UI, enhancement

chore: update collection response type structure
  resources/client/types/api.ts
Labels: UI, enhancement

chore: patch type definitions
  resources/client/modules/inertia.ts
  resources/client/shim.d.ts
Labels: UI, enhancement

chore: patch type definitions
  resources/client/modules/inertia.ts
  resources/client/shim.d.ts
Labels: UI, enhancement

feat(form): extends form inputs and labels props
  resources/client/components/form/datepicker.vue
  resources/client/components/form/input.vue
  resources/client/components/form/radio-group.vue
  resources/client/components/form/select.vue
  resources/client/components/form/upload.vue
Labels: UI, enhancement

feat(form): extends form inputs and labels props
  resources/client/components/form/datepicker.vue
  resources/client/components/form/input.vue
  resources/client/components/form/radio-group.vue
  resources/client/components/form/select.vue
  resources/client/components/form/upload.vue
Labels: UI, enhancement

feat(form): try to handle input form validation on each component
  resources/client/components/form/datepicker.vue
  resources/client/components/form/input.vue
  resources/client/components/form/radio-group.vue
  resources/client/components/form/select.vue
  resources/client/components/form/upload.vue
Labels: UI, enhancement

feat(form): try to handle input form validation on each component
  resources/client/components/form/datepicker.vue
  resources/client/components/form/input.vue
  resources/client/components/form/radio-group.vue
  resources/client/components/form/select.vue
  resources/client/components/form/upload.vue
Labels: UI, enhancement

chore(deps): upgrade dependencies
  composer.json
  composer.lock
  package.json
  pnpm-lock.yaml
Labels: enhancement

chore(deps): upgrade dependencies
  composer.json
  composer.lock
  package.json
  pnpm-lock.yaml
Labels: enhancement

chore: rearrange types
  resources/client/env.d.ts
  resources/client/layouts/app-layout.vue
  resources/client/layouts/guest-layout.vue
  resources/client/shim.d.ts
  resources/client/types/app.ts
Labels: UI, enhancement

chore: rearrange types
  resources/client/env.d.ts
  resources/client/layouts/app-layout.vue
  resources/client/layouts/guest-layout.vue
  resources/client/shim.d.ts
  resources/client/types/app.ts
Labels: UI, enhancement

chore: update nusa and pages components due to b432857
  resources/client/components/nusa/address.vue
  resources/client/components/nusa/district.vue
  resources/client/components/nusa/province.vue
  resources/client/components/nusa/regency.vue
  resources/client/components/nusa/village.vue
  resources/client/pages/auth/confirm-password.vue
  resources/client/pages/auth/forgot-password.vue
  resources/client/pages/auth/login.vue
  resources/client/pages/auth/register.vue
  resources/client/pages/auth/reset-password.vue
Labels: UI, enhancement

chore: update nusa and pages components due to b432857
  resources/client/components/nusa/address.vue
  resources/client/components/nusa/district.vue
  resources/client/components/nusa/province.vue
  resources/client/components/nusa/regency.vue
  resources/client/components/nusa/village.vue
  resources/client/pages/auth/confirm-password.vue
  resources/client/pages/auth/forgot-password.vue
  resources/client/pages/auth/login.vue
  resources/client/pages/auth/register.vue
  resources/client/pages/auth/reset-password.vue
Labels: UI, enhancement

feat: initialize firebase client integration
  package.json
  pnpm-lock.yaml
  resources/client/modules/firebase.ts
Labels: UI, enhancement

feat: initialize firebase client integration
  package.json
  pnpm-lock.yaml
  resources/client/modules/firebase.ts
Labels: UI, enhancement

chore: store `deviceToken` in `appPreference`
  resources/client/utils/general.ts
Labels: UI, enhancement

chore: store `deviceToken` in `appPreference`
  resources/client/utils/general.ts
Labels: UI, enhancement

chore: update required environment variables
  .env.example
  .github/workflows/prepare.yml
  resources/client/env.d.ts
Labels: integration, docs, UI, enhancement

chore: update required environment variables
  .env.example
  .github/workflows/prepare.yml
  resources/client/env.d.ts
Labels: integration, docs, UI, enhancement
