Repository tgr-9/Laravel-fullstack-starter, changes with the labels that .github/labeler.yml gives for each.
All labels: integration, docs, deployment, api, authentication, authorization, experiences, localization, UI, db: schema, db: seeder, enhancement

chore(deps-dev): bump laravel/pint in the dev-dependencies group
  composer.lock
Labels: enhancement

chore(deps-dev): bump laravel/pint in the dev-dependencies group
  composer.lock
Labels: enhancement

chore!: rename `prepare` to `build` workflow
  .github/workflows/build.yml
Labels: integration, enhancement

chore!: rename `prepare` to `build` workflow
  .github/workflows/build.yml
Labels: integration, enhancement

chore!: rearrange ci workflow configs
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
Labels: integration, deployment, enhancement

chore!: rearrange ci workflow configs
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
Labels: integration, deployment, enhancement

chore: ensure to run `build` before `tests`
  .github/workflows/main.yml
Labels: integration, enhancement

chore: ensure to run `build` before `tests`
  .github/workflows/main.yml
Labels: integration, enhancement

chore: suppress errors of the current issue, will do it later
  app/Models/User.php
  composer.lock
  tsconfig.json
Labels: db: schema, enhancement

chore: suppress errors of the current issue, will do it later
  app/Models/User.php
  composer.lock
  tsconfig.json
Labels: db: schema, enhancement

chore: skip deployment on PR branches
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

chore: skip deployment on PR branches
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

chore: suppress another errors
  database/factories/UserFactory.php
Labels: db: schema, enhancement

chore: suppress another errors
  database/factories/UserFactory.php
Labels: db: schema, enhancement

chore: update `main` and `deploy` workflow
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Labels: integration, deployment, enhancement

chore: update `main` and `deploy` workflow
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Labels: integration, deployment, enhancement

chore: fix issue while running e2e job
  .github/workflows/main.yml
Labels: integration, enhancement

chore: fix issue while running e2e job
  .github/workflows/main.yml
Labels: integration, enhancement

test: try to utilize `.github/.env.example` for build asset
  .github/.env.example
  .github/workflows/build.yml
  .github/workflows/main.yml
Labels: integration, enhancement

test: try to utilize `.github/.env.example` for build asset
  .github/.env.example
  .github/workflows/build.yml
  .github/workflows/main.yml
Labels: integration, enhancement

chore: suppress error on undefined variable
  resources/views/app.blade.php
Labels: UI, enhancement

chore: suppress error on undefined variable
  resources/views/app.blade.php
Labels: UI, enhancement

chore: update dependencies
  package.json
  pnpm-lock.yaml
Labels: enhancement

chore: update dependencies
  package.json
  pnpm-lock.yaml
Labels: enhancement

chore: make use of build workflow from `projek-xyz/actions`
  .github/.env.example
  .github/workflows/build.yml
  .github/workflows/main.yml
Labels: integration, enhancement

chore: make use of build workflow from `projek-xyz/actions`
  .github/.env.example
  .github/workflows/build.yml
  .github/workflows/main.yml
Labels: integration, enhancement

chore: fix deployment workflow
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Labels: integration, deployment, enhancement

chore: fix deployment workflow
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Labels: integration, deployment, enhancement

chore: bring back built artifact on unit test
  .github/workflows/main.yml
Labels: integration, enhancement

chore: bring back built artifact on unit test
  .github/workflows/main.yml
Labels: integration, enhancement

chore(deps): bump pinia from 2.2.4 to 2.2.5 in the dependencies group
  pnpm-lock.yaml
Labels: enhancement

chore(deps): bump pinia from 2.2.4 to 2.2.5 in the dependencies group
  pnpm-lock.yaml
Labels: enhancement

chore(deps): bump symfony/process in the composer group
  composer.lock
Labels: enhancement

chore(deps): bump symfony/process in the composer group
  composer.lock
Labels: enhancement

chore(deps): bump symfony/http-foundation in the composer group
  composer.lock
Labels: enhancement

chore(deps): bump symfony/http-foundation in the composer group
  composer.lock
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group across 1 directory with 15 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group across 1 directory with 15 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps): bump the dependencies group with 5 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps): bump the dependencies group with 5 updates
  pnpm-lock.yaml
Labels: enhancement

.github/labeler.yml:

integration:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/*.yml'
    - 'app/Providers/**.php'
    - 'tests/Browser/**.php'

docs:
- changed-files:
  - any-glob-to-any-file:
    - '.env.example'
    - '**.md'

deployment:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/deploy.yml'
    - 'scripts/deploy.php'
    - 'scripts/deploy/**'

api:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Http/Controllers/Api/**.php'
    - 'app/Http/Resources/**.php'
    - 'routes/api.php'

authentication:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Http/Controller/Auth/**.php'
    - 'config/auth.php'
    - 'routes/auth.php'

authorization:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Http/Middleware/**.php'
    - 'app/Policies/**.php'

experiences:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Http/Controllers/**.php'
    - 'app/Http/Requests/**.php'
    - 'app/Views/**.php'
    - 'routes/web.php'

localization:
- changed-files:
  - any-glob-to-any-file: 'resources/lang/**'

UI:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Views/**.php'
    - 'resources/client/**'
    - 'resources/views/**'

'db: schema':
- changed-files:
  - any-glob-to-any-file:
    - 'app/Models/**.php'
    - 'database/factories/**.php'
    - 'database/migrations/**.php'

'db: seeder':
- changed-files:
  - any-glob-to-any-file: 'database/seeders/**.php'

enhancement:
- changed-files:
  - any-glob-to-any-file: '**'
