Repository tgr-9/Laravel-fullstack-starter, changes with the labels that .github/labeler.yml gives for each.
All labels: integration, docs, deployment, api, authentication, authorization, experiences, localization, UI, db: schema, db: seeder, enhancement

chore(ci): dont fetch deployment info on testing environment
  .github/workflows/prepare.yml
Labels: integration, enhancement

chore(ci): dont fetch deployment info on testing environment
  .github/workflows/prepare.yml
Labels: integration, enhancement

chore(deps): upgrade `creasi/dusk-browserstack` to latest version
  composer.lock
Labels: enhancement

chore(deps): upgrade `creasi/dusk-browserstack` to latest version
  composer.lock
Labels: enhancement

chore(deps): bump softprops/action-gh-release from 1 to 2
  .github/workflows/release.yml
Labels: integration, enhancement

chore(deps): bump softprops/action-gh-release from 1 to 2
  .github/workflows/release.yml
Labels: integration, enhancement

chore(deps-dev): bump the dev-dependencies group with 7 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 7 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 6 updates
  composer.lock
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 6 updates
  composer.lock
Labels: enhancement

chore(deps): bump the dependencies group with 2 updates
  composer.lock
Labels: enhancement

chore(deps): bump the dependencies group with 2 updates
  composer.lock
Labels: enhancement

chore(deps): bump the dependencies group with 5 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps): bump the dependencies group with 5 updates
  pnpm-lock.yaml
Labels: enhancement

chore: update some configs
  .github/workflows/main.yml
  config/sentry.php
Labels: integration, enhancement

chore: update some configs
  .github/workflows/main.yml
  config/sentry.php
Labels: integration, enhancement

ci: add example `.env` file for ci
  .github/.env.example
Labels: enhancement

ci: add example `.env` file for ci
  .github/.env.example
Labels: enhancement

ci: experiment with auto deployment to idcloudhost shared-hosting
  .github/workflows/deploy.yml
  composer.json
  storage/.gitignore
Labels: integration, deployment, enhancement

ci: experiment with auto deployment to idcloudhost shared-hosting
  .github/workflows/deploy.yml
  composer.json
  storage/.gitignore
Labels: integration, deployment, enhancement

ci: update deployment config
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: update deployment config
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: update deployment config (again)
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: update deployment config (again)
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: another workaround of ssh deployment config
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: another workaround of ssh deployment config
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: another workaround of ssh deployment config (again)
  .github/workflows/deploy.yml
  composer.json
Labels: integration, deployment, enhancement

ci: another workaround of ssh deployment config (again)
  .github/workflows/deploy.yml
  composer.json
Labels: integration, deployment, enhancement

ci: check ssh config file
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: check ssh config file
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: try cloning using explicit ssh port
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: try cloning using explicit ssh port
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: wrong port
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: wrong port
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: another try
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: another try
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

chore: replace composer script with bash script for deployment
  composer.json
  scripts/.gitattributes
  scripts/deploy.sh
Labels: enhancement

chore: replace composer script with bash script for deployment
  composer.json
  scripts/.gitattributes
  scripts/deploy.sh
Labels: enhancement

ci: another try (again)
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: another try (again)
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

.github/labeler.yml:

integration:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/*.yml'
    - 'app/Providers/**.php'
    - 'tests/Browser/**.php'

docs:
- changed-files:
  - any-glob-to-any-file:
    - '.env.example'
    - '**.md'

deployment:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/deploy.yml'
    - 'scripts/deploy.php'
    - 'scripts/deploy/**'

api:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Http/Controllers/Api/**.php'
    - 'app/Http/Resources/**.php'
    - 'routes/api.php'

authentication:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Http/Controller/Auth/**.php'
    - 'config/auth.php'
    - 'routes/auth.php'

authorization:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Http/Middleware/**.php'
    - 'app/Policies/**.php'

experiences:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Http/Controllers/**.php'
    - 'app/Http/Requests/**.php'
    - 'app/Views/**.php'
    - 'routes/web.php'

localization:
- changed-files:
  - any-glob-to-any-file: 'resources/lang/**'

UI:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Views/**.php'
    - 'resources/client/**'
    - 'resources/views/**'

'db: schema':
- changed-files:
  - any-glob-to-any-file:
    - 'app/Models/**.php'
    - 'database/factories/**.php'
    - 'database/migrations/**.php'

'db: seeder':
- changed-files:
  - any-glob-to-any-file: 'database/seeders/**.php'

enhancement:
- changed-files:
  - any-glob-to-any-file: '**'
