Repository tgr-9/Laravel-fullstack-starter, changes with the labels that .github/labeler.yml gives for each.
All labels: integration, docs, deployment, api, authentication, authorization, experiences, localization, UI, db: schema, db: seeder, enhancement

ci: another try (again) using another port
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: another try (again) using another port
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: another try (again) using another scheme
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: another try (again) using another scheme
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: still wondering why the ssh config seems not working
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: still wondering why the ssh config seems not working
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: another try
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: another try
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: last try, I promise
  .github/workflows/deploy.yml
  scripts/deploy.sh
Labels: integration, deployment, enhancement

ci: last try, I promise
  .github/workflows/deploy.yml
  scripts/deploy.sh
Labels: integration, deployment, enhancement

ci: experiment add input url on prepare workflow
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .github/workflows/prepare.yml
Labels: integration, deployment, enhancement

ci: experiment add input url on prepare workflow
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .github/workflows/prepare.yml
Labels: integration, deployment, enhancement

chore(deps-dev): bump the dev-dependencies group with 15 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 15 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 5 updates
  composer.lock
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 5 updates
  composer.lock
Labels: enhancement

chore(deps-dev): bump ejs from 3.1.9 to 3.1.10
  pnpm-lock.yaml
Labels: enhancement

chore(deps-dev): bump ejs from 3.1.9 to 3.1.10
  pnpm-lock.yaml
Labels: enhancement

chore(deps): bump the dependencies group across 1 directory with 4 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps): bump the dependencies group across 1 directory with 4 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps): bump pnpm/action-setup from 3 to 4
  .github/workflows/prepare.yml
Labels: integration, enhancement

chore(deps): bump pnpm/action-setup from 3 to 4
  .github/workflows/prepare.yml
Labels: integration, enhancement

chore(deps): bump the dependencies group with 2 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps): bump the dependencies group with 2 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 14 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 14 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 4 updates
  composer.lock
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 4 updates
  composer.lock
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group across 1 directory with 14 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group across 1 directory with 14 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps): bump @grpc/grpc-js from 1.9.14 to 1.9.15
  pnpm-lock.yaml
Labels: enhancement

chore(deps): bump @grpc/grpc-js from 1.9.14 to 1.9.15
  pnpm-lock.yaml
Labels: enhancement

chore(deps): bump vue from 3.4.27 to 3.4.31 in the dependencies group
  pnpm-lock.yaml
Labels: enhancement

chore(deps): bump vue from 3.4.27 to 3.4.31 in the dependencies group
  pnpm-lock.yaml
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 10 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 10 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 3 updates
  composer.lock
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 3 updates
  composer.lock
Labels: enhancement

chore(deps-dev): bump laravel/pint in the dev-dependencies group
  composer.lock
Labels: enhancement

chore(deps-dev): bump laravel/pint in the dev-dependencies group
  composer.lock
Labels: enhancement

.github/labeler.yml:

integration:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/*.yml'
    - 'app/Providers/**.php'
    - 'tests/Browser/**.php'

docs:
- changed-files:
  - any-glob-to-any-file:
    - '.env.example'
    - '**.md'

deployment:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/deploy.yml'
    - 'scripts/deploy.php'
    - 'scripts/deploy/**'

api:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Http/Controllers/Api/**.php'
    - 'app/Http/Resources/**.php'
    - 'routes/api.php'

authentication:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Http/Controller/Auth/**.php'
    - 'config/auth.php'
    - 'routes/auth.php'

authorization:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Http/Middleware/**.php'
    - 'app/Policies/**.php'

experiences:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Http/Controllers/**.php'
    - 'app/Http/Requests/**.php'
    - 'app/Views/**.php'
    - 'routes/web.php'

localization:
- changed-files:
  - any-glob-to-any-file: 'resources/lang/**'

UI:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Views/**.php'
    - 'resources/client/**'
    - 'resources/views/**'

'db: schema':
- changed-files:
  - any-glob-to-any-file:
    - 'app/Models/**.php'
    - 'database/factories/**.php'
    - 'database/migrations/**.php'

'db: seeder':
- changed-files:
  - any-glob-to-any-file: 'database/seeders/**.php'

enhancement:
- changed-files:
  - any-glob-to-any-file: '**'
