Repository tgr-9/Laravel-fullstack-starter, changes with the labels that .github/labeler.yml gives for each.
All labels: integration, docs, deployment, api, authentication, authorization, experiences, localization, UI, db: schema, db: seeder, enhancement

.github/labeler.yml:

integration:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/*.yml'
    - 'app/Providers/**.php'
    - 'tests/Browser/**.php'

docs:
- changed-files:
  - any-glob-to-any-file:
    - '.env.example'
    - '**.md'

deployment:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/deploy.yml'
    - 'scripts/deploy.php'
    - 'scripts/deploy/**'

api:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Http/Controllers/Api/**.php'
    - 'app/Http/Resources/**.php'
    - 'routes/api.php'

authentication:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Http/Controller/Auth/**.php'
    - 'config/auth.php'
    - 'routes/auth.php'

authorization:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Http/Middleware/**.php'
    - 'app/Policies/**.php'

experiences:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Http/Controllers/**.php'
    - 'app/Http/Requests/**.php'
    - 'app/Views/**.php'
    - 'routes/web.php'

localization:
- changed-files:
  - any-glob-to-any-file: 'resources/lang/**'

UI:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Views/**.php'
    - 'resources/client/**'
    - 'resources/views/**'

'db: schema':
- changed-files:
  - any-glob-to-any-file:
    - 'app/Models/**.php'
    - 'database/factories/**.php'
    - 'database/migrations/**.php'

'db: seeder':
- changed-files:
  - any-glob-to-any-file: 'database/seeders/**.php'

enhancement:
- changed-files:
  - any-glob-to-any-file: '**'

chore(deps): bump follow-redirects from 1.15.3 to 1.15.4
  pnpm-lock.yaml
Labels: enhancement

chore(deps): bump follow-redirects from 1.15.3 to 1.15.4
  pnpm-lock.yaml
Labels: enhancement

chore(deps-dev): bump vite from 5.0.10 to 5.0.12
  pnpm-lock.yaml
Labels: enhancement

chore(deps-dev): bump vite from 5.0.10 to 5.0.12
  pnpm-lock.yaml
Labels: enhancement

chore(deps): bump actions/cache from 3 to 4
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .github/workflows/prepare.yml
Labels: integration, deployment, enhancement

chore(deps): bump actions/cache from 3 to 4
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .github/workflows/prepare.yml
Labels: integration, deployment, enhancement

chore(deps-dev): bump the dev-dependencies group with 12 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 12 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps): bump the dependencies group with 3 updates
  composer.lock
Labels: enhancement

chore(deps): bump the dependencies group with 3 updates
  composer.lock
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 6 updates
  composer.lock
Labels: enhancement

chore(deps-dev): bump the dev-dependencies group with 6 updates
  composer.lock
Labels: enhancement

chore(deps): bump the dependencies group with 5 updates
  pnpm-lock.yaml
Labels: enhancement

chore(deps): bump the dependencies group with 5 updates
  pnpm-lock.yaml
Labels: enhancement

chore(dev): update vscode settings and extension recommendations
  .vscode/extensions.json
  .vscode/settings.json
Labels: enhancement

chore(dev): update vscode settings and extension recommendations
  .vscode/extensions.json
  .vscode/settings.json
Labels: enhancement

feat(tests): apply creasico/laravel-dusk-browserstack#48
  .github/workflows/main.yml
  composer.lock
Labels: integration, enhancement

feat(tests): apply creasico/laravel-dusk-browserstack#48
  .github/workflows/main.yml
  composer.lock
Labels: integration, enhancement

chore(deps): exclude another symfony component v7.x
  composer.json
  composer.lock
Labels: enhancement

chore(deps): exclude another symfony component v7.x
  composer.json
  composer.lock
Labels: enhancement

chore: fix the implementation
  app/Models/User.php
  composer.json
  composer.lock
  database/factories/UserFactory.php
  tests/DuskTestCase.php
Labels: db: schema, enhancement

chore: fix the implementation
  app/Models/User.php
  composer.json
  composer.lock
  database/factories/UserFactory.php
  tests/DuskTestCase.php
Labels: db: schema, enhancement

chore(deps): upgrade `pnpm/action-setup` to v3
  .github/workflows/prepare.yml
Labels: integration, enhancement

chore(deps): upgrade `pnpm/action-setup` to v3
  .github/workflows/prepare.yml
Labels: integration, enhancement

chore: clean up main workflow as requested
  .github/workflows/main.yml
Labels: integration, enhancement

chore: clean up main workflow as requested
  .github/workflows/main.yml
Labels: integration, enhancement

chore: switch to `creasi/dusk-browserstack` v0.3
  composer.json
  composer.lock
Labels: enhancement

chore: switch to `creasi/dusk-browserstack` v0.3
  composer.json
  composer.lock
Labels: enhancement

chore(deps): upgrade npm dependencies
  package.json
  pnpm-lock.yaml
Labels: enhancement

chore(deps): upgrade npm dependencies
  package.json
  pnpm-lock.yaml
Labels: enhancement

chore(config): update `deploy:assets` config
  scripts/deploy.php
  tests/CreatesApplication.php
Labels: deployment, enhancement

chore(config): update `deploy:assets` config
  scripts/deploy.php
  tests/CreatesApplication.php
Labels: deployment, enhancement

ci: use `deployphp/action@master`
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: use `deployphp/action@master`
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: try using value from prepare workflows
  .github/workflows/deploy.yml
  .github/workflows/prepare.yml
Labels: integration, deployment, enhancement

ci: try using value from prepare workflows
  .github/workflows/deploy.yml
  .github/workflows/prepare.yml
Labels: integration, deployment, enhancement

ci: check downloaded artifacts
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: check downloaded artifacts
  .github/workflows/deploy.yml
Labels: integration, deployment, enhancement

ci: check downloaded artifacts from deployment config
  .github/workflows/deploy.yml
  scripts/deploy.php
Labels: integration, deployment, enhancement

ci: check downloaded artifacts from deployment config
  .github/workflows/deploy.yml
  scripts/deploy.php
Labels: integration, deployment, enhancement
